@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  transition: 0.1s;
  font-weight: $--font-weight-primary;
}
